<% if (site.posts.length){ %>
    <div class="widget-wrap">
      <div class="widget">
        <h3 class="widget-title"><%= __('friendlink_a') %></h3>
        <% theme.friendlink.forEach(function(fl){ %>
            <a class="friend-link" href="<%- url_for(fl.url) %> ">
                <%- fl.desc %>
            </a>
        <% }) %>
      </div>
    </div>
  <% } %>